@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@font-face {
    font-family:'Gistesy';
    src: url(../fonts/Gistesy.ttf);
}

*{
    margin: 0;
    padding: 0;
}

:root {
    /*FONTES DO SITE*/
    --font-Oswald:'Oswald', sans-serif;
    --font-MedievalSharp:'MedievalSharp', cursive;
    --font-Roboto: 'Roboto', sans-serif;
    --font-Comfortaa: 'Comfortaa', sans-serif;
    --font-Russo-One: 'Russo One', sans-serif;
    --font-Gistesy: 'Gistesy', sans-serif;

    /*PALETA DE CORES DO SITE*/
    --cor0:#33EAF2;
    --cor1:#33F2BA;
    --cor2:#5FF495;
    --cor3:#33F279;
    --cor4:rgb(207, 87, 87);
    --cor5:#a70606;

    --cor6:white;
    --cor7:black;

    /* background-image: linear-gradient(to bottom, var(--cor), var(--cor), var(--cor)); */
}


body {
    background-color:var(--cor1);
}

header {
    display: flex;
    background-color: var(--cor7);
    justify-content: space-between; /*Divide os conteudos em esquerda e direita. É o comando que manda os menus para o lado direito, caso eu me confunda.*/
    align-items: center;/*Alinha os conteudos (tanto esquerda quanto direita) dentro de "header"*/
    height: 61px;
    padding: 0px 20px; /* 0 superior e inferior(top e bottom), 20 esquerda e direita (left/right)*/
}

.nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /*Desativa de vez o modo lista (Mas esse comando funciona em conjunto com o de cima, não esquecer) e colocar um ao lado do outro.*/
    list-style: none;
    gap: 10px;
}

.nav-menu li:first-child {
    margin-right: -80px; /* Adiciona margem à direita apenas para o primeiro item do menu, nesse caso, apenas ao "INICIO". */
}

.nav-menu li {
    margin-right: -20px; /* Adiciona margem à direita para todos os itens do menu */
}

.nav-menu li a {
    color: var(--cor6);
    font-size: 18px;
    font-family: var(--font-Roboto);
    font-weight:bolder;
    text-decoration: none;
    padding: 8px 16px;
}

.nav-menu a:hover { /*Deixa o elemento de texto da NAV da cor que eu tenha escolhido na variavel "var(x);" */
    background-color: var(--cor1);
    border-bottom: 1px solid rgb(255, 7, 7);
}

#logo img {
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 476px) {
    /* Aqui pode definir larguras mínimas para os elementos que não devem quebrar */
    .nav-menu li {
         min-width: 150px; /* Define uma largura mínima para os itens do menu */
    }
}

h1 {
    justify-content: center;
    font-family: var(--font-Gistesy);
    font-weight: bolder;
    font-size: 70px;
    color: var(--cor7);
    margin: auto; 
    padding-bottom: 5px;

    /*banner - "Árvore Genealogica" */
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2), var(--cor3));
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 2px 1px 15px rgb(72, 100, 92);
}

/*----------------------------------------------------------------------------------------------*/

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color:rgb(193, 231, 218);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.arvore-png img {
    width: 180vw; /* Define a largura da imagem como 50% da largura da janela de visualização */
    height: auto; 
    max-width: 100%; 
    display: block; /* Garante que a imagem seja exibida como um bloco */
    margin: auto; /* Centraliza a imagem horizontalmente */
    transform: translate(-1,0%, 0%); /* Mantém a posição da imagem, nesse caso: no centro. */
    box-sizing: border-box;
    box-shadow: 1px 1px 15px rgb(72, 100, 92);
}



/*-----------------------------------------------------------------------------------------------*/

/*FOOTER - RODAPÉ*/
footer { /*Estilos para o rodapé conforme necessário */
    background-color: var(--cor7);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

footer a img {
    width: 32px;
    height: 32px;
}